@page
@model exchaRazor02.Pages.DiariesModel
@{
    ViewData["Title"] = "日記一覧";
}
<h1>@ViewData["Title"]</h1>
<a href="/" class="nrmLink">ホームへ戻る</a>
<br />
<br />

<table class="table table-striped table-hover mytbl">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Diaries[0].id)</th>
            <th>@Html.DisplayNameFor(model => model.Diaries[0].note)</th>
            <th>@Html.DisplayNameFor(model => model.Diaries[0].excha)</th>
            <th>@Html.DisplayNameFor(model => model.Diaries[0].last)</th>
            <th>@Html.DisplayNameFor(model => model.Diaries[0].rettime)</th>
            <th><!--リンク用--></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Diaries)
        {
            <tr>
                <td class="hideOverWidth">@Html.DisplayFor(modelItem => item.id)</td>
                <td class="hideOverWidth">@Html.DisplayFor(modelItem => item.note)</td>
                @if (item.excha == Data.EXCHA.able)
                {
                    <td>可</td>
                }
                else
                {
                    <td>不可</td>
                }
                <td>@item.last.ToShortDateString().Substring(0, 5).Replace("/", " ")</td>
@if (item.rettime > DateTime.Now) {
                <td>@item.rettime.ToShortDateString().Substring(0, 5).Replace("/", " ")</td>
} else {
                <td>未交換</td>
}
                <td>
                    @{
                        if (
                            item.pub == Data.PUBLICITY.pub
                            && item.rettime < DateTime.Now
                            )
                        {
                            <a href="/Leaves/Index?id=@item.id" class="nrmLink">開く</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
