@page "{id?}"
@using System.Security.Claims;
@using PasswordHashing;
@model exchaRazor02.Pages.Leaves.IndexModel

@{
    ViewData["Title"] = "目次";
}

<h1>@ViewData["Title"]</h1>
@{
    //新しいページを作る
    //交換申請する
    //交換承諾する、交換拒否する
    //コメントする
    //日記一覧へ
    if (!HttpContext.User.Identity.IsAuthenticated)
    {
        <a href="~/diaries" class="nrmLink">別の日記を見る</a>
    }
    else
    {
        string authId = HttpContext.User.FindFirst(ClaimTypes.NameIdentifier).Value;
        if (Model.createFlag)
        {   //新しくページを作る
            <a href="./WR?id=@authId&time=0" class="lineLink">新しいページを作る</a>
        }
        else if (Model.exchaFlag && Model.appliPeriod != null)
        {   //承諾拒否
            <button id="repAccept" onclick="reply(this)" class="mybtn" value="accept">交換する</button>
            <button id="repReject" onclick="reply(this)" class="mybtn" value="reject">拒否する</button>
            <br />
            <text>交換期間：</text>
            <input id="exchaPeriod" value="@Model.appliPeriod" readonly style="width: 4em;" />
            <text>hour</text>
            <input id="diaryId" type="hidden" value="@Model.leaves[0].diaryId" />
            <input id="token" type="hidden" value="@PBKDF2.Hash(HttpContext.User.FindFirst(ClaimTypes.Sid).Value, 8, 2)" />
        }
        else if (Model.exchaFlag)
        {   //交換申請
            <button onclick="apply(this)" class="mybtn">交換申請する</button>
            <br />
            <text>交換期間：</text>
            <input id="exchaPeriod" type="number" value="24" min="1" max="255" style="width: 4em;" />
            <text>hour</text>
            <input id="diaryId" type="hidden" value="@Model.leaves[0].diaryId" />
            <input id="token" type="hidden" value="@PBKDF2.Hash(HttpContext.User.FindFirst(ClaimTypes.Sid).Value, 8, 2)" />
        }
        else if (Model.commentFlag)
        {   //コメントする
            <a href="./WR?id=@Model.leaves[0].diaryId&time=@Model.leaves.Max(l => l.time)" class="lineLink">コメントする</a>
        }
        else
        {
            <a href="~/diaries" class="nrmLink">別の日記を見る</a>
        }
    }

}

<hr />

<table class="table table-striped table-hover mytbl">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.leaves[0].title)</th>
            <th>@Html.DisplayNameFor(model => model.leaves[0].contents)</th>
            <th>@Html.DisplayNameFor(model => model.leaves[0].time)</th>
            <th>@Html.DisplayNameFor(model => model.leaves[0].exid)</th>
            <th>@Html.DisplayNameFor(model => model.leaves[0].comment)</th>
            <th><!--リンク--></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.leaves)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.title)</td>
            <td class="hideOverWidth">@Html.DisplayFor(modelItem => item.contents)</td>
            <td>@item.time.ToShortDateString().Substring(5).Replace("/", " ")</td>
            <td class="hideOverWidth">@Html.DisplayFor(modelItem => item.exid)</td>
            <td class="hideOverWidth">@Html.DisplayFor(modelItem => item.comment)</td>
            <td>
                <a href="/Leaves/WR?id=@item.diaryId&time=@item.time" class="nrmLink">開く</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<script src="/js/Leaves.js"></script>
