@page
@model exchaRazor02.Pages.Leaves.WRModel

@{
    //ViewData["Title"] = "";   //OnGet()で設定
}

<h1>@ViewData["Title"]</h1>

<span class="text-danger">@Model.message</span>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="leaf.diaryid" />
            <input type="hidden" asp-for="leaf.time" />
            @{
                //機能:
                // 新規作成
                // コメント
                // 編集
                // 閲覧
                if (Model.createFlag)
                {   //新規作成
                    <div class="form-group">
                        <label asp-for="leaf.title" class="control-label"></label>
                        <input asp-for="leaf.title" class="form-control" />
                        <span asp-validation-for="leaf.title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="leaf.contents" class="control-label"></label>
                        <textarea asp-for="leaf.contents" class="form-control" placeholder="" rows="6"></textarea>
                        <span asp-validation-for="leaf.contents" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="ページを作成" class="mybtn" />
                    </div>
                }
                else if (Model.editFlag)
                {   //編集
                    <div class="form-group">
                        <label asp-for="leaf.title" class="control-label"></label>
                        <input asp-for="leaf.title" class="form-control" />
                        <span asp-validation-for="leaf.title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="leaf.contents" class="control-label"></label>
                        <textarea asp-for="leaf.contents" class="form-control" placeholder="" rows="6"></textarea>
                        <span asp-validation-for="leaf.contents" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="ページを編集" class="mybtn" />
                    </div>
                }
                else if (Model.commentFlag)
                {   //コメント
                    <p class="h5"> @Model.leaf.title</p>
                    <p>@Html.Raw(Html.Encode(Model.leaf.contents).Replace("&#xD;&#xA;", "<br>"))</p>
                    <div class="form-group">
                        <label asp-for="leaf.comment" class="control-label"></label>
                        <textarea asp-for="leaf.comment" class="form-control" placeholder="" rows="6"></textarea>
                        <span asp-validation-for="leaf.comment" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="ページへコメント" class="mybtn" />
                    </div>
                }
                else
                {   //閲覧
                    <p class="h5"> @Model.leaf.title</p>
                    <!-- <p>@Html.Encode("\r\n")</p> -->
                    <p>@Html.Raw(Html.Encode(Model.leaf.contents).Replace("&#xD;&#xA;", "<br>"))</p>
                    <br />
                    <p>@Html.Raw(Html.Encode(Model.leaf.comment).Replace("&#xD;&#xA;", "<br>"))</p>
                }
            }
        </form>
    </div>
</div>

<hr /><a href="~/Leaves/Index?id=@Model.leaf.diaryid" class="nrmLink">戻る</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
